
#posts {
  background-color: #eff;
  border-radius: 8px;
  margin-top: 10px;
}

.page-header, .page-header a {
  color: #fff;
  background-color: #29f;
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;
  padding-top: 2px;
}

.glyphicon-thumbs-up {
  cursor:pointer;
  color: #13e;
}
.text-body {
  font-size: 20px;
  margin-left: 10px;
}
form {
  margin-top: 30px;
}
